body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f1f3f6;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #111111; /* Flipkart Blue */
    margin-bottom: 30px;
}
h2 {
   font-size: 24px;
   font-weight: 600;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: cursive;
}

.product-card {
    background: #fff;
    border-radius: 8%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: contain; /* Keeps image aspect ratio correct */
    margin-bottom: 10px;
}

.product-card h2.product-title {
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0;
    height: 40px;
    overflow: hidden;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
}

.price {
    font-size: 18px;
    color: #388e3c; /* Green color for price */
    font-weight: bold;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #f5a21c; /* Flipkart Orange */
    color: #191818;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 13px;
    transition: background 0.2s;
}

.btn:hover {
    background: #9a7d4d;
}